{% extends 'base.html' %}
{% block page-content %}

<section class="hero">
    <br><br>
    <div class="details">
        <div class="image" id="image">
            <img src="/static/img/about-img.png" class="photo" alt="Group-Pic" />
        </div>

        <div class="content">
            <h2>About Us</h2>
            <span>line here</span>
            <p>We are a team, keen of providing healthy meals to those who sleep empty-belly each night as
                well as avoiding food wastage by accumulating leftover meals from people who generally used
                to throw away extra food and ensuring it reaches those who need it.
            </p>
        </div>
    </div>
</section>

{% endblock %}