@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    padding: 30px 0px;
}

.logo {
    max-height: 85px;
    padding-left: 100px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: #1d1d24;
    position: relative;
    padding: 5px 0;
}

nav ul li a:hover {
    color: #fd4766;
    text-decoration: none;
}

nav ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #fd4766;
    transition: 0.3s;
    bottom: 0;
}

nav ul li a:hover:after {
    text-decoration: none;
    width: 100%;
}

.nav-list1 {
    margin-left: 30px;
}

.nav-list2 {
    margin-left: 150px;
    padding-right: 50px;
}